{% extends 'base.html' %}

{% block content %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="bg-light p-4 rounded shadow-sm">
                    <h2 class="mb-4 text-center">Edit Your Account</h2>

                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == "error" %}
                                <div class="alert alert-danger">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <form method="POST">
                        {% csrf_token %}
                        <!-- Email Field (non-editable) -->
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" value="{{ user.email }}" disabled>
                        </div>

                        <!-- Full Name Field -->
                        <div class="mb-3">
                            <label for="full_name" class="form-label">Full Name</label>
                            <input type="text" class="form-control" id="full_name" name="full_name"
                                   value="{{ form.full_name.value }}">
                        </div>

                        {% if user.is_teacher %}
                        <div class="mb-3">
                            <label for="discount_rate" class="form-label">Teacher Discount Rate</label>
                            <input type="text" class="form-control" id="discount_rate"
                                   value="{{ user.teacher.discount_rate }}%" disabled readonly>
                        </div>
                        {% endif %}

                        <!-- New Password Field -->
                        <div class="mb-3">
                            <label for="new_password" class="form-label">New Password</label>
                            <input type="password" name="new_password" class="form-control" id="new_password"
                                   placeholder="Enter a new password">
                        </div>

                        <!-- Confirm Password Field -->
                        <div class="mb-3">
                            <label for="confirm_password" class="form-label">Confirm Password</label>
                            <input type="password" name="confirm_password" class="form-control" id="confirm_password"
                                   placeholder="Confirm your password">
                        </div>

                        <button type="submit" class="btn btn-primary w-100">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}




